<html>
  <head>
    <link href="/src/components/Player/index.css" rel="stylesheet" />
  </head>
  <body>
    <section>
      <img class="background" src="/src/assets/images/musica.png" />
      <div class="conteudo">
        <audio id="player" preload="auto">
          <source
            src="/src/assets/musics/Take Your Time - Dan Lebowitz.mp3"
            type="audio/mpeg"
          />
        </audio>
        <div class="controles">
          <div class="controle play" onclick="Celular.player.play()">
            <img src="/src/assets/icons/play.svg" />
          </div>
          <div class="controle pause" onclick="Celular.player.pause()">
            <img src="/src/assets/icons/pause.svg" />
          </div>
        </div>
        <div class="voltar" onclick="Celular.home()"></div>
      </div>
    </section>
  </body>
</html>
